In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('../Data.csv')

In [3]:
dft = pd.read_csv('testing8.csv')

In [4]:
df.head()

,channel1,channel2,channel3,channel4,channel5,channel6,channel7,channel8,label
0,71,71,64,98,150,86,68,209,left
1,72,72,63,98,149,84,69,205,left
2,72,75,66,98,152,82,73,202,left
3,75,72,66,98,154,84,75,199,left
4,74,75,65,98,159,85,79,195,left

In [5]:
dft.head()

,channel1,channel2,channel3,channel4,channel5,channel6,channel7,channel8,label
0,133,92,163,166,93,108,191,202,left
1,130,89,156,164,91,106,195,200,left
2,138,90,160,167,94,114,190,197,left
3,135,88,155,165,96,114,194,195,left
4,135,90,158,168,95,121,188,201,left

In [6]:
from sklearn.svm import SVC

In [7]:
model = SVC()

In [8]:
model.fit(df.drop('label',axis=1),df['label'])

SVC()

In [9]:
predictions = model.predict(dft.drop('label',axis=1))

In [10]:
from sklearn.metrics import classification_report,confusion_matrix

In [11]:
print(confusion_matrix(dft['label'],predictions))

[[  0 135 112   3   0   0]
 [  0   3 138  91  18   0]
 [  0   8 197  43   2   0]
 [ 19   7   0 213   6   5]
 [  0   0   0 250   0   0]
 [  0   2 112  71  65   0]]

In [12]:
print(classification_report(dft['label'],predictions))

              precision    recall  f1-score   support

        back       0.00      0.00      0.00       250
       front       0.02      0.01      0.01       250
        left       0.35      0.79      0.49       250
       right       0.32      0.85      0.46       250
       start       0.00      0.00      0.00       250
        stop       0.00      0.00      0.00       250

    accuracy                           0.28      1500
   macro avg       0.11      0.28      0.16      1500
weighted avg       0.11      0.28      0.16      1500